body {
    width: 100% !important;
}

.container {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.document-name {
    margin-bottom: 10px;
    font-weight: bold;
}

.summernote-wrapper {
    width: 100%;
}

.editor-wrapper {
    position: relative;
}

.editor-wrapper #unfilled-tags {
    position: absolute;
    left: calc(100% + 20px);
    top: 0
}

#unfilled-tags .tag-to-be-filled {
    color: red;
    padding-bottom: 7px;
}

.action-buttons-wrapper {
    display: none;
    padding-bottom: 100px;
    padding-top: 50px;
}

.action-buttons-wrapper button {
    margin: 15px;
}

.success-message {
    color: green;
    margin-left: 15px;
}
