body {
    width: 100% !important;
}

.container {
    margin-top: 20px;
}

.document-name {
    margin-bottom: 10px;
    font-weight: bold;
}

.summernote-wrapper {
    width: 100%;
}

.action-buttons-wrapper {
    display: none;
    padding-bottom: 100px;
    padding-top: 100px;
}

.action-buttons-wrapper button {
    margin: 15px;
}

.success-message {
    color: green;
}
